.row{
    height: 450px;
    justify-content: center;
    
}
.center{
    background-color: white;
    margin-top: 50px;
    
}

.center img{
    width:250px;
}

.center p{
    text-align: center;
}


.footer{
    background-color: brown;
}

.jumbotron{
    text-align: center;
}

.jumbotron2{
    text-align: center;
}



.jumbotron p a{
    background-color: black;
}



